.trends__container {
    max-width: 350px;
    background-color: rgb(247, 249, 249);
    border-radius: 30px;
    height: max-content;
}

.trendsPost__container {
    max-width: 350px;
    padding: 12px 16px;
    border-radius: 30px;
}

.trendsPost__container:hover {
    background-color: #EFF1F1;
}

.trendsPost__items {
    display: flex;
    flex-direction: column;
}